body,html { height:100%; font-family: 'Lato', sans-serif; }
body { margin:0; padding:0; }

body > div > div.content { display:inline-block; height:100%; display:table-cell; }
/* Left col */
div.left-col.content { vertical-align:top; width:25%; padding:25px 1% 10px; background-color:#79b179; color:white; box-shadow: 1px 0 1px rgba(0,0,0,0.1); }
div.left-col.content .desk-m8-title { box-shadow: 0 0px 2px rgba(0,0,0,0.2); padding: 15px 10%; margin: -25px -5% 0; background-color:white; position:relative; }
div.desk-m8-title .title { color:#79b179; margin:5px 0; font-family: 'Quicksand', sans-serif;}
div.desk-m8-title .subtitle { color:#79b179; opacity:0.4; position:absolute; left:154px; bottom:4px; }
div.left-col.content .nav-bar {  }
div.left-col.content .nav-bar ul { padding: 0; margin: 0 -5% 0; }
div.left-col.content .nav-bar ul li { list-style-type: none; }
div.left-col.content .nav-bar ul a { display:block; color:white; text-decoration: none; padding:20px 25px; box-shadow: 0 0.01em 0px rgba(0,0,0,0.3), inset 0 -0.03em rgba(255,255,255,0.2); }
div.left-col.content .nav-bar ul a:hover { background-color:#61c761; }
div.left-col.content .nav-bar ul a.active { background:-webkit-linear-gradient(bottom right, rgba(255,255,255,0.1), rgba(117,247,117,0.6)); }
/* Right col */
div.right-col.content { width:75%; padding:20px 1%;     background: -webkit-linear-gradient(bottom right, rgba(34, 255, 7, 0.57), white); }
div.topbar-deskm8-details { box-shadow: 1px 1px rgba(0,0,0,0.1); padding: 29px 5%; margin: -20px -1.3% 20px;position: relative;text-align: center;background: #efefef; }
div.topbar-deskm8-details .name { margin:0; display:inline-block; color:gray; }
div.topbar-deskm8-details .stats { float:right; }
div.topbar-deskm8-details .ico { width: 26px; margin: 0 5px; }
	/* Home */
	div.desk-m8-picture .deskm8-caption { position: absolute; left: 60%; top: 130px; z-index: 9999999; background: white; padding: 20px 15px; box-shadow: 0 2px 15px rgba(0,0,0,0.4); border-radius: 15px; border-bottom-left-radius: 0; }
	div.desk-m8-picture { position: relative; }
	div.desk-m8-picture img.critter { position: absolute;top: 145px;left: 38%;width: 30%; }
	/* Content */
	div.right-col div.body-content > div.content { min-height:450px; padding-top:10px; background:white; box-shadow: 1px 1px 2px rgba(0,0,0,0.2);}
	div.right-col div.content { padding:0 35px 10px; color: gray; position:relative; }
	div.right-col div.content h1 { border-bottom: 1px solid rgba(128, 128, 128, 0.13); }
	div.right-col div.content h5 { border-bottom: 1px solid rgba(128, 128, 128, 0.13); }
	/* Settings */
	div.content.settings div.plugin { width: 25%;display: inline-block; margin: 5px; }
	div.content.settings input.add { padding: 10px 15px; border: none; width: 100%; }
	/* Feed */
	div.content.feed .sort-by { position: absolute;right: 4%;top: 39px; }
	div.content.feed select { padding: 4px 15px; }
	div.content.feed .sort-by label { padding-right:8px; }

/* Misc */
div.input-field { min-width: 50%; position: relative; margin:5px; }
div.input-field label { position: absolute;left: 8px; bottom: 9px; }
div.input-field input { padding: 10px 10px 10px 130px; background-color: whitesmoke; width: 50%; border: none; }
input.success[type=button] { padding: 10px 15px; color: white; border: none; background: green; min-width: 100px; }
.placeholder-text { font-size:14px; }
.deskm8 { font-family: 'Quicksand', sans-serif; }